.pet-show-container
  %h2 
    Hello human, my name is
    = @pet["name"]
  .pet-image
    =image_tag @pet["image_url"], class: 'pet-pic'
  .description
    I am a
    = @pet["species"]
    of the
    = @pet["breed"]
    clan. I live in
    %strong.location
      = @pet["location"]
  .pet-umbrella-statement
    = @umbrella_statement
